{% extends 'base.html.twig' %}

{% block body %}

    <header>

        <img src="LOGo">
         <!--ENLACE AL AREA PRIVADA-->
         <a href="./areaprivada"><img src="../assets/img/user.png" width="50px" height="50px" class="float-right"></a>
         
       
         <h1>TITULO WEB</h1>

         <!--MENU CON BOOSTRAP-->
      <div class="container" id="nav">
        <nav class="nav nav-pills nav-justified mt-2">
          <a class="nav-link nav-item" href="#">Opción 1</a>
          <a class="nav-link nav-item active" href="#">Opción 2</a>
          <a class="nav-link nav-item" href="#">Opción 3</a>
          <a class="nav-link nav-item" href="#">Opción 4</a>
          <a class="nav-link nav-item disabled" href="#">Opción 5</a>
        </nav>
      </div>
    </header>

    <main>
      <section>
          <!--CABEZERA INTRODUCCIÓN-->
          <h2>TITULO</h2>
          <p>TEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTO
              TEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTO
              TEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTO
              TEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTOTEXTO
          </p>
      </section>


      <!--CAROUSEL CON CATEGORIAS-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <section>
      <br><br>
        <!--AQUI APARECERAN UNA LISTA DE SERVICIOS CON UNA BARRA PARA SELECCIONAR CATEGORIA ARRIBA Y PODER FILTRAR-->


        <form action="/buscador" method="POST">
        <select name="ciudadElegida">
            <option value="0">SELECCIONE UNA CIUDAD</option>
            {% for city in all_cities %}
            <option value="{{city.name}}">{{city.name}}</option>
            {% endfor %}
        </select>
        <select name="categoriaElegida">
            <option value="0">SELECCIONE UNA CATEGORIA</option>
            {% for category in all_categories %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Filtrar">


        </form>

        <table style="width:100%">


        
          {% set counter = 1 %}

          {% for service in all_services %}

          <div id="services">

            {%  if counter == 0 %}
              <tr>
            {% endif %} 

            <td style="backgroud-image:{image}}width:30%; border:1px solid black; margin:5px; padding:5px; text-align:center">

              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="IMAGEN SERVICIO" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title">{{service.getName}}</h5>
                      <h5 class="card-title">{{service.getUserOffer.getName}}</h5>
                      <h5 class="card-title">{{service.getCity.getName}}</h5>
                      <p class="card-text">{{service.getTime}}m</p>
                      <!--ESTE FORMULARIO ENVIA UN MENSAJE DE SOLICITUD PREDEFINIDO-->
                      <form action="./sendRequest" method="POST">
                        <button class="btn btn-primary" type="submit">Solicitar servicio</button>
                        <input type="hidden" value="{{service.getId}}" name="serviceId">
                      </form>
                  </div>
              </div>
            </td>

            {%  if counter == 3 %}
              </tr>
              {% set counter = 0 %}
            {% endif %}
            {% set counter = counter + 1 %}
          </div>
        {% endfor %}

        </table>

      </section>

    </main>


    <footer>
        <form action="" method="POST">

            Email: <input type="text" name="email">
            Nombre: <input type="text" name="name">
            Teléfono: <input type="text" name="telephone">
            Comentario: <textarea cols="30" rows="5" name="text"></textarea>
            <input type="submit" name="send" value="Contactar">
        </form>



    </footer>




{% endblock %}