{% extends 'base.html.twig' %}

{% block body %}

    <header>
      <img src="LOGo">
      <!--ENLACE AL AREA PRIVADA-->
      <a href="#" style="float:right"><img src="../assets/img/user.png" width="50px" height="50px"></a>
      <button onclick="window.location.href='./editarContacto'" >Editar perfil</button>
      
      <h1>TITULO WEB</h1>

      <!--MENU CON BOOSTRAP-->
      <div class="container" id="nav">
        <nav class="nav nav-pills nav-justified mt-2">
          <a class="nav-link nav-item" href="#">Opción 1</a>
          <a class="nav-link nav-item active" href="#">Opción 2</a>
          <a class="nav-link nav-item" href="#">Opción 3</a>
          <a class="nav-link nav-item" href="#">Opción 4</a>
          <a class="nav-link nav-item disabled" href="#">Opción 5</a>¡
      </div>
    </header>

    <main>

      <fieldset>
        <legend>CREAR CIUDAD</legend>
        <form action="./createCity" method="POST">
          Nombre: <input type="text" name="name">
          <input type="submit" value="Crear ciudad">
        </form>
      </fieldset>

      <fieldset>
        <legend>CREAR CATEGORÍA</legend>
        <form action="/createCategory" method="POST" enctype="multipart/form-data">
          Nombre: <input type="text" name="name">
          Imagen: <input type="file" name="img">
          <input type="submit" value="Crear categoria">
        </form>
      </fieldset>
      
      <fieldset>
        <legend>CREAR SERVICIO</legend>
        <form action="./createService" method="POST" enctype="multipart/form-data">
          Nombre: <input type="text" name="name">
          
          Categoría: <select name="category">
            {% for category in all_category %}
              <option value="{{category.getId}}">{{category.getName}}</option>
            {% endfor %}
          </select>
          
          Imagen: <input type="file" name="img">
          <input type="submit" value="Crear servicio">
        </form>
      </fieldset>


      <fieldset>
        <legend>ENVIAR MENSAJE</legend>
        <form action="./createMessage" method="POST">
          
          Destinatario: <select name="userReciving">
            {% for user in all_users %}
              <option value="{{user.getId}}">{{user.getEmail}}</option>
            {% endfor %}
          </select>
          
          Cuerpo del mensaje: <textarea cols="30" rows="5" name="bodyMessage"></textarea>

          <input type="submit" value="Enviar mensaje">
        </form>
      </fieldset>

      <div id="containerMessage">
        <h1>MENSAJES RECIBIDOS</h1>
        {% for messageReciving in allMessageRecivingUser %}
          <div class="message">
            <p>Fecha: {{messageReciving.getDate}}</p>
            <p>Usuario que envia: {{messageReciving.getUserSend.getEmail}}</p>
            <p>Usuario que recibe: {{messageReciving.getUserReciving.getEmail}}</p>
            <p>Mensaje: {{messageReciving.getBodyMessage}}</p>

            <!--COMPROBAMOS SI EL MENSAJE ESTA LEIDO-->
            {% if messageReciving.getCheckRead == 0 %}
              <p>NO LEIDO</p>
            {% else %}
              <p>LEIDO</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </main>


    <footer>
        <form action="" method="POST">

            Email: <input type="text" name="email">
            Nombre: <input type="text" name="name">
            Teléfono: <input type="text" name="telephone">
            Comentario: <textarea cols="30" rows="5" name="text"></textarea>
            <input type="submit" name="send" value="Contactar">
        </form>
    </footer>





























{% endblock %}